[color]
	ui = true
[user]
	name = Alexander Holyoake
	email = alex@stratagem.co
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
